@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,600,700");
@font-face {
  font-family: "Bob";
  src: url("../fonts/bob-webfont.woff2") format("woff2"), url("../fonts/bob-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  color: #4e4e4e;
  font-size: 1rem;
  font-family: "FiraGO", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  body.fixed {
    max-height: 100vh;
    overflow: hidden;
  }
}

a,
button,
input,
textarea {
  font-family: "FiraGO", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

h2,
h3 {
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  margin: 24px 0;
  font-size: 32px;
  line-height: 40px;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 18px 51px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  background-color: #89a767;
  background-position: left 17px center;
  background-repeat: no-repeat;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.button:hover {
  background-color: #72934C;
}
.button:active {
  background-color: #72934C;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo__image {
  height: 83px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .logo__image {
    height: 43px;
  }
}

.container {
  max-width: 1254px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-form {
  max-width: 542px;
}
.contact-form__main {
  position: relative;
  padding: 0;
  margin: 0 0 29px;
  border: none;
}
@media (max-width: 576px) {
  .contact-form__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 44px;
  }
}
.contact-form__phone {
  display: block;
  width: 100%;
  padding: 19px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 48px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
  outline-color: rgba(137, 167, 103, 0.15);
}
.contact-form__phone:focus-visible {
  outline: none;
}
@media (max-width: 576px) {
  .contact-form__phone {
    max-width: 251px;
    padding: 18px 27px 56px;
    font-size: 16px;
  }
}
.contact-form__submit {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 18px 44px;
}
@media (max-width: 576px) {
  .contact-form__submit {
    top: 51px;
    right: auto;
    left: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.contact-form__agreement {
  position: relative;
  padding: 0 0 0 30px;
  margin: 0;
  border: none;
}
.contact-form__agreement-label {
  cursor: pointer;
}
.contact-form__agreement-input {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  cursor: pointer;
}
.contact-form__agreement-text {
  display: inline-block;
  color: #4e4e4e;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contact-form__agreement-text a {
  color: #89a767;
}
.contact-form__agreement-checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  width: 12px;
  aspect-ratio: 1;
  border: 4px solid #89a767;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form__agreement-checkmark:after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #89a767;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.contact-form__agreement .contact-form__agreement-input:checked ~ .contact-form__agreement-checkmark:after {
  display: block;
}

.header {
  padding: 21px 0 24px;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}
@media (max-width: 992px) {
  .header {
    padding: 21px 0 22px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -34px;
  gap: 40px;
}
@media (max-width: 1200px) {
  .header__nav {
    margin-left: 0;
    gap: 16px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 350;
}
@media (max-width: 1200px) {
  .header__nav-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.header__nav-link:hover {
  color: #d39f9a;
}
.header__nav-link.active {
  color: #d39f9a;
}
.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 576px) {
  .header__callback {
    display: none;
  }
}
.header__callback-phone {
  padding-left: 35px;
  color: #4e4e4e;
  font-size: 22px;
  font-weight: 500;
  background-image: url(../assets/icons/phone.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 27px;
}
@media (max-width: 992px) {
  .header__callback-phone {
    padding: 6px 0;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 992px) {
  .header .button {
    padding: 15px 45px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
}
.header__burger-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
  width: 43px;
  height: 43px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: #89a767;
  background-image: url(../assets/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}
@media (max-width: 768px) {
  .header__burger-btn {
    display: inline-block;
  }
}
.header__burger-btn:hover {
  background-color: #72934c;
}
.header__burger-btn:active {
  background-color: #72934c;
}

.first-screen {
  padding: 121px 0 94px;
  overflow: hidden;
  background-image: url(../assets/bg/first-screen-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left 532px;
}
@media (max-width: 992px) {
  .first-screen {
    background-position: bottom left 120px;
    background-size: 860px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  .first-screen {
    background-position: bottom 152px left 10px;
    padding: 20px 0 50px;
  }
}
.first-screen .container {
  position: relative;
}
@media (max-width: 576px) {
  .first-screen .container {
    padding-top: 237px;
  }
}
.first-screen__title {
  position: relative;
  max-width: 872px;
  margin: 0 0 48px;
  z-index: 1;
  color: #4e4e4e;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .first-screen__title {
    max-width: 640px;
    font-size: 56px;
  }
}
@media (max-width: 992px) {
  .first-screen__title {
    max-width: 462px;
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    max-width: none;
    width: 100%;
    margin: 0 0 50px;
    font-size: 28px;
    text-align: center;
  }
}
.first-screen__title > span {
  color: #99b1b8;
}
.first-screen__description {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 65px;
  z-index: 1;
  color: #4e4e4e;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 992px) {
  .first-screen__description {
    max-width: 365px;
    margin: 0 0 73px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .first-screen__description {
    max-width: none;
    margin: 0 0 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}
.first-screen__description::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 100%;
  display: block;
  width: 27px;
  height: 24px;
  background-image: url(../assets/leaves.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px;
}
@media (max-width: 992px) {
  .first-screen__description::before {
    top: 36px;
    left: 102px;
  }
}
@media (max-width: 576px) {
  .first-screen__description::before {
    top: -10px;
    left: calc(50% + 127px);
  }
}
.first-screen__description_form {
  margin: 0 0 23px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .first-screen__description_form {
    margin: 0 0 30px;
    text-align: center;
  }
}
.first-screen__image {
  position: absolute;
  top: -63px;
  right: -81px;
  z-index: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 992px) {
  .first-screen__image {
    top: 0;
    left: 55%;
    right: auto;
  }
}
@media (max-width: 576px) {
  .first-screen__image {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.first-screen__image > img {
  width: 575px;
  height: auto;
}
@media (max-width: 1200px) {
  .first-screen__image > img {
    width: 480px;
  }
}
@media (max-width: 992px) {
  .first-screen__image > img {
    width: 330px;
  }
}
@media (max-width: 576px) {
  .first-screen__image > img {
    width: 236px;
  }
}
.first-screen__scroll {
  margin: 44px 0 0;
  text-align: center;
}
.first-screen__scroll-button {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-image: url(../assets/icons/scroll.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages {
  padding: 0 0 94px;
  background-image: url(../assets/bg/advantages-bg.svg);
  background-repeat: no-repeat;
  background-position: top 47px left 169px;
}
@media (max-width: 992px) {
  .advantages {
    background-position: top 216px left -212px;
  }
}
@media (max-width: 576px) {
  .advantages {
    background-position: top 300px left -132px;
    background-size: 487px;
  }
}
.advantages__title {
  margin: 0 0 67px;
  color: #4e4e4e;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
@media (max-width: 992px) {
  .advantages__title {
    margin: 0 0 68px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .advantages__title {
    margin: 0 0 43px;
    font-size: 20px;
  }
}
.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 54px 80px;
}
@media (max-width: 992px) {
  .advantages__items {
    gap: 54px 30px;
  }
}
@media (max-width: 576px) {
  .advantages__items {
    gap: 39px;
  }
}
.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 54px);
          flex: 1 1 calc(33.333% - 54px);
}
@media (max-width: 992px) {
  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 40px);
            flex: 1 1 calc(50% - 40px);
  }
}
@media (max-width: 576px) {
  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.advantages__item-image {
  margin: 0 0 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__item-image {
    margin: 0 0 40px;
  }
}
@media (max-width: 576px) {
  .advantages__item-image {
    margin: 0 0 12px;
  }
}
.advantages__item-image > img {
  width: 100px;
  height: auto;
}
@media (max-width: 768px) {
  .advantages__item-image > img {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .advantages__item-image > img {
    width: 80px;
  }
}
.advantages__item-title {
  margin: 0 0 12px;
  color: #89a767;
  text-align: center;
  font-family: "Bob", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 992px) {
  .advantages__item-title {
    font-size: 17px;
  }
}
@media (max-width: 576px) {
  .advantages__item-title {
    font-size: 15px;
  }
}
.advantages__item-text {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__item-text {
    font-size: 14px;
  }
}

.excursion {
  position: relative;
  padding: 157px 0 103px;
  background-image: url(../assets/bg/excursion-bg.svg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: 1920px auto;
}
@media (max-width: 768px) {
  .excursion {
    padding: 91px 0 93px;
  }
}
@media (max-width: 576px) {
  .excursion {
    padding: 58px 0 48px;
  }
}
.excursion__bg-item {
  position: absolute;
  background-image: url(../assets/bg/excursion-bg-item.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
}
.excursion__bg-item_first {
  top: 206px;
  left: 173px;
  width: 247px;
  height: 184px;
  -webkit-transform: rotate(-137deg);
      -ms-transform: rotate(-137deg);
          transform: rotate(-137deg);
}
@media (max-width: 768px) {
  .excursion__bg-item_first {
    top: 70px;
    left: 0px;
    width: 147px;
    height: 110px;
  }
}
@media (max-width: 576px) {
  .excursion__bg-item_first {
    width: 38px;
    height: 29px;
  }
}
.excursion__bg-item_second {
  top: 137px;
  right: 288px;
  width: 85px;
  height: 63px;
}
@media (max-width: 768px) {
  .excursion__bg-item_second {
    width: 71px;
    height: 54px;
    top: 102px;
    right: 5px;
  }
}
@media (max-width: 576px) {
  .excursion__bg-item_second {
    width: 30px;
    height: 19px;
    top: 166px;
    right: 32px;
  }
}
.excursion__bg-item_third {
  bottom: 91px;
  right: 487px;
  width: 80px;
  height: 48px;
}
@media (max-width: 768px) {
  .excursion__bg-item_third {
    bottom: 48px;
    right: 88px;
    width: 67px;
    height: 42px;
  }
}
@media (max-width: 576px) {
  .excursion__bg-item_third {
    bottom: 24px;
    right: 43px;
    width: 41.161px;
    height: 31.436px;
  }
}
.excursion__title {
  margin: 0 0 31px;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .excursion__title {
    margin: 0 0 50px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .excursion__title {
    margin: 0 0 38px;
    font-size: 20px;
  }
}
.excursion__description {
  margin: 0 0 74px;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .excursion__description {
    margin: 0 0 50px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .excursion__description {
    margin: 0 0 38px;
    font-size: 14px;
  }
}
.excursion .contact-form {
  margin: 0 auto;
}
@media (max-width: 576px) {
  .excursion .contact-form {
    padding: 0 15px;
  }
}
.excursion .contact-form__submit {
  max-width: 220px;
  height: 100%;
  width: 100%;
  padding: 8px 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #d39f9a;
}
@media (max-width: 576px) {
  .excursion .contact-form__submit {
    max-height: 56px;
  }
}
.excursion .contact-form__agreement-text {
  color: #ffffff;
}
.excursion .contact-form__agreement-text a {
  color: #4e4e4e;
}
.excursion .contact-form__agreement-checkmark {
  border: 4px solid #ffffff;
  background-color: #89a767;
}
.excursion .contact-form__agreement-checkmark:after {
  background-color: #ffffff;
}
.excursion .contact-form__agreement:hover .excursion .contact-form__agreement-input ~ .excursion .contact-form__agreement-checkmark {
  background-color: #779358 !important;
}
.excursion .contact-form__agreement .excursion .contact-form__agreement-input:checked ~ .excursion .contact-form__agreement-checkmark:after {
  display: block;
}

.prices {
  padding: 75px 0;
}
.prices__title {
  margin: 0 0 43px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.prices__item {
  border: 2px solid #ffffff;
  border-radius: 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.prices__item.active {
  border: 2px solid #99b1b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#99b1b8));
  background: linear-gradient(180deg, #f5f5f5 0%, #99b1b8 100%);
}
.prices__item-header {
  position: relative;
  padding: 35px 120px 35px 58px;
}
.prices__item-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 100%;
  border-radius: 25px 0 0 25px;
  background-color: #99b1b8;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.prices__item.active .prices__item-header::before {
  display: none;
}
.prices__item-address {
  margin: 0;
  color: #99b1b8;
  font-family: "BoB", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.prices__item.active .prices__item-address {
  color: #89a767;
}
.prices__item-toggler {
  position: absolute;
  top: 35px;
  right: 47px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-image: url(../assets/icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.prices__item.active .prices__item-toggler {
  background-image: url(../assets/icons/icon-open.svg);
}
.prices__item-body {
  max-height: 0px;
  padding: 0 39px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.prices__item.active .prices__item-body {
  max-height: none;
  padding: 20px 39px 42px;
}
.prices__item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 60px;
}
.prices__item-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.3333333333% - 40px);
          flex: 0 1 calc(33.3333333333% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  background-color: #ffffff;
}
.prices__item-card-title {
  margin: 0 0 24px;
  color: #89a767;
  text-align: center;
  font-family: "BoB", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.prices__item-card-time {
  margin: 0 0 18px;
  padding: 0 0 18px;
  border-bottom: 3px solid #89a767;
  color: #89a767;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.prices__item-card-subtitle {
  margin: 0 0 20px;
  color: #89a767;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.prices__item-card-services {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 0 64px;
  padding: 0;
}
.prices__item-card-services > li {
  margin: 0 0 4px;
  padding-left: 17px;
  color: #4e4e4e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  background: url(../assets/icons/check.svg) no-repeat left center;
  background-size: 13px;
}
.prices__item-card-price {
  margin: 0 0 21px;
  color: #89a767;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.prices__item-card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prices__item-card-buttons .button {
  padding: 13px 34px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 46px;
  padding: 20px 16px;
  border-top: 1px solid #eaecee;
}
@media (max-width: 1200px) {
  .footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}
.footer__copyrights {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
  color: #475569;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
.footer__copyrights a {
  color: #475569;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
.footer__copyrights a:hover {
  color: #6183e4;
}
@media (max-width: 1200px) {
  .footer__copyrights {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 768px) {
  .footer__copyrights {
    gap: 16px;
  }
}
.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.footer__payments-method {
  height: 24px;
  width: 34px;
  border: 1px solid #eaecee;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__payments-method_google {
  background-image: url(../assets/payment-methods/GooglePay.svg);
}
.footer__payments-method_apple {
  background-image: url(../assets/payment-methods/ApplePay.svg);
}
.footer__payments-method_visa {
  background-image: url(../assets/payment-methods/visa-logo.svg);
}
.footer__payments-method_mastercard {
  background-image: url(../assets/payment-methods/Mastercard.svg);
}
.footer__payments-method_maestro {
  background-image: url(../assets/payment-methods/Maestro.svg);
}
.footer__payments-method_webmoney {
  background-image: url(../assets/payment-methods/Webmoney.svg);
}
.footer__payments-method_qiwi {
  background-image: url(../assets/payment-methods/Qiwi.svg);
}
.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}