@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,600,700');

@font-face {
  font-family: 'Bob';
  src: url(../fonts/BoB.ttf);
}

html {
  color: $black;
  font-size: 1rem;
  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: $white;
  overflow-y: scroll;

  &.fixed {
    @include tablet {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}

a,
button,
input,
textarea {
  font-family: 'FiraGO', sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

h2,
h3 {
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  margin: 24px 0;
  font-size: 32px;
  line-height: 40px;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}
