.advantages {
  padding: 0 0 94px;
  background-image: url(../assets/bg/advantages-bg.svg);
  background-repeat: no-repeat;
  background-position: top 47px left 169px;

  @include laptop {
    background-position: top 216px left -212px;
  }

  @include mobile {
    background-position: top 300px left -132px;
    background-size: 487px;
  }

  &__title {
    margin: 0 0 67px;
    color: $black;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    @include laptop {
      margin: 0 0 68px;
      font-size: 32px;
    }

    @include mobile {
      margin: 0 0 43px;
      font-size: 20px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 54px 80px;

    @include laptop {
      gap: 54px 30px;
    }

    @include mobile {
      gap: 39px;
    }
  }

  &__item {
    flex: 1 1 calc(33.333% - 54px);

    @include laptop {
      flex: 1 1 calc(50% - 40px);
    }

    @include mobile {
      flex: 1 1 100%;
    }

    &-image {
      margin: 0 0 24px;
      text-align: center;

      @include tablet {
        margin: 0 0 40px;
      }
  
      @include mobile {
        margin: 0 0 12px;
      }

      & > img {
        width: 100px;
        height: auto;

        @include tablet {
          width: 90px;
        }
    
        @include mobile {
          width: 80px;
        }
      }
    }

    &-title {
      margin: 0 0 12px;
      color: $green;
      text-align: center;
      font-family: 'Bob', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include laptop {
        font-size: 17px;
      }

      @include mobile {
        font-size: 15px;
      }

      &_ge {
        font-family: 'FiraGO', 'Arial', sans-serif;
        font-size: 24px;
        font-weight: 700;

        @include laptop {
          font-size: 22px;
        }
  
        @include mobile {
          font-size: 20px;
        }
      }
    }

    &-text {
      margin: 0;
      padding: 0 20px;
      font-size: 16px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      text-align: center;

      @include tablet {
        font-size: 14px;
      }
    }
  }
}
