.excursion {
  position: relative;
  padding: 157px 0 103px;
  background-image: url(../assets/bg/excursion-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @include desktop {
    background-size: 1920px 100%;
  }

  @include tablet {
    padding: 91px 0 93px;
  }

  @include mobile {
    padding: 58px 0 48px;
    background-position: left -500px center;
    background-size: 1200px 100%;
  }

  &__bg-item {
    position: absolute;
    background-image: url(../assets/bg/excursion-bg-item.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;

    &_first {
      top: 206px;
      left: 173px;
      width: 247px;
      height: 184px;
      transform: rotate(-137deg);

      @include tablet {
        top: 70px;
        left: -0px;
        width: 147px;
        height: 110px;
      }

      @include mobile {
        width: 38px;
        height: 29px;
      }
    }

    &_second {
      top: 137px;
      right: 288px;
      width: 85px;
      height: 63px;

      @include tablet {
        width: 71px;
        height: 54px;
        top: 102px;
        right: 5px;
      }

      @include mobile {
        width: 30px;
        height: 19px;
        top: 166px;
        right: 32px;
      }
    }

    &_third {
      bottom: 91px;
      right: 487px;
      width: 80px;
      height: 48px;

      @include tablet {
        bottom: 48px;
        right: 88px;
        width: 67px;
        height: 42px;
      }

      @include mobile {
        bottom: 24px;
        right: 43px;
        width: 41.161px;
        height: 31.436px;
      }
    }
  }

  &__title {
    margin: 0 0 31px;
    color: $white;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include tablet {
      margin: 0 0 50px;
      font-size: 32px;
    }

    @include mobile {
      margin: 0 0 38px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__description {
    margin: 0 0 74px;
    color: $white;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include tablet {
      margin: 0 0 50px;
      font-size: 18px;
    }

    @include mobile {
      margin: 0 0 38px;
      font-size: 14px;
    }
  }

  & .contact-form {
    margin: 0 auto;

    @include mobile {
      padding: 0 15px;
    }

    &__submit {
      max-width: 220px;
      height: 100%;
      width: 100%;
      padding: 8px 15px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background-color: $pink;

      &:hover {
        background-color: #c28a84;
      }

      @include mobile {
        max-height: 56px;
      }
    }

    &__agreement {
      &-text {
        color: $white;

        & a {
          color: $black;
        }
      }

      &-checkmark {
        border: 4px solid $white;
        background-color: $green;

        &:after {
          background-color: $white;
        }
      }

      &:hover &-input ~ &-checkmark {
        background-color: #779358 !important;
      }

      & &-input:checked ~ &-checkmark:after {
        display: block;
      }
    }
  }
}
