.prices {
  padding: 75px 0 40px;

  @include tablet {
    padding: 65px 0 27px;
  }

  @include mobile {
    padding: 40px 0 10px;
  }

  &__title {
    position: relative;
    margin: 0 0 43px;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      margin: 0 0 25px;
      font-size: 20px;
      font-weight: 700;
    }

    &::before {
      content: '';
      position: absolute;
      top: -120%;
      left: 0;
      z-index: 5;
      width: 168px;
      height: 168px;
      background-image: url(../assets/fairy-panda.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 168px;

      @include tablet {
        top: -90%;
        width: 130px;
        height: 130px;
        background-size: 130px;
      }

      @include mobile {
        top: -30%;
        width: 60px;
        height: 60px;
        background-size: 60px;
      }
    }
  }

  &__item {
    max-width: 1140px;
    margin: 0 auto 40px;
    border: 2px solid rgba($color: $white, $alpha: 0);
    border-radius: 25px;
    box-sizing: border-box;
    background: $white;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
    transition: $baseTransition;

    &:last-child {
      margin: 0 auto;
    }

    &.active {
      border: 2px solid $greyBlueStrong;
      background: linear-gradient(180deg, #f5f5f5 0%, #99b1b8 100%);
    }

    &-header {
      position: relative;
      padding: 35px 120px 35px 58px;

      @include tablet {
        padding: 26px 100px 26px 40px;
      }

      @include mobile {
        padding: 30px 64px 30px 25px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        display: block;
        width: 25px;
        height: calc(100% + 4px);
        border-radius: 25px 0 0 25px;
        background-color: $greyBlueStrong;
        transition: $baseTransition;

        @include tablet {
          width: 22px;
        }

        @include mobile {
          width: 18px;
        }
      }
    }

    &.active &-header {
      &::before {
        display: none;
      }
    }

    &-address {
      margin: 0;
      color: $greyBlueStrong;
      font-family: 'BoB', sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      transition: $baseTransition;

      @include tablet {
        font-size: 23px;
      }

      @include mobile {
        font-size: 18px;
      }

      &_ge {
        font-family: 'FiraGO', 'Arial', sans-serif;
        font-size: 34px;
        font-weight: 700;

        @include laptop {
          font-size: 30px;
        }
  
        @include mobile {
          font-size: 22px;
        }
      }
    }

    &.active &-address {
      color: $green;
    }

    &-toggler {
      position: absolute;
      top: 35px;
      right: 47px;
      display: inline-block;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50px;
      background-image: url(../assets/icons/icon-close.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: background ease-in-out 0.3s;
      cursor: pointer;

      @include tablet {
        top: 26px;
        right: 20px;
        width: 40px;
        height: 40px;
      }

      @include mobile {
        top: 30px;
        right: 16px;
        width: 30px;
        height: 30px;
      }
    }

    &.active &-toggler {
      background-image: url(../assets/icons/icon-open.svg);
    }

    &-body {
      max-height: 0px;
      padding: 0 39px;
      box-sizing: content-box;
      overflow: hidden;
      transition: $baseTransition;

      @include tablet {
        padding: 0 8px;
      }
    }

    &.active &-body {
      max-height: none;
      padding: 20px 39px 42px;

      @include tablet {
        padding: 20px 8px 42px;
      }
    }

    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px 60px;
      margin: 0 0 40px;

      @include mobile {
        gap: 30px 60px;
      }
    }

    &-card {
      flex: 0 1 calc(100% / 3 - 60px / 3 * 2);
      display: flex;
      flex-direction: column;
      padding: 40px 45px;
      box-sizing: border-box;
      border-radius: 25px;
      background-color: $white;

      @include laptop {
        flex: 0 1 calc((100% - 60px) / 2);
      }

      @include mobile {
        flex: 1 1 100%;
      }

      &_hot {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -28px;
          left: -22px;
          display: block;
          width: 60px;
          height: 53px;
          background-image: url(../assets/leaves.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transform: rotate(-120deg);

          @include tablet {
            left: 0px;
          }
        }
      }

      &-title {
        margin: 0 0 24px;
        color: $green;
        text-align: center;
        font-family: 'BoB', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @include tablet {
          font-size: 18px;
        }

        &_ge {
          font-family: 'FiraGO', 'Arial', sans-serif;
          font-size: 28px;
          font-weight: 700;
  
          @include laptop {
            font-size: 26px;
          }
    
          @include mobile {
            font-size: 24px;
          }
        }
      }

      &-time {
        margin: 0 0 18px;
        padding: 0 0 18px;
        border-bottom: 3px solid $green;
        color: $green;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include tablet {
          font-size: 18px;
        }
      }

      &-subtitle {
        margin: 0 0 20px;
        color: $green;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include tablet {
          font-size: 18px;
        }
      }

      &-services {
        flex: 1 0 auto;
        margin: 0 0 64px;
        padding: 0;

        & > li {
          margin: 0 0 4px;
          padding-left: 17px;
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          list-style-type: none;
          background: url(../assets/icons/check.svg) no-repeat left center;
          background-size: 13px;

          @include tablet {
            font-size: 14px;
          }
        }
      }

      &-price {
        margin: 0 0 21px;
        color: $green;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
      }

      &-buttons {
        display: flex;
        justify-content: center;

        & .button {
          padding: 13px 34px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;

      @include tablet {
        font-size: 14px;
      }
    }
  }
}
