.logo {
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    height: 83px;
    width: auto;
    object-fit: contain;

    @include tablet {
      height: 43px;
    }
  }
}
